body {
  background: #f8f8f8;
}

h1 {
  position: relative;
}

.left {
  float: left;
  margin-right: 10px;
}

.hide {
  display: none;
}

.instagram {
  margin: 0 auto;
  width: 1150px;
  padding: 30px 0;
}

.image {
  float: left;
  visibility: hidden;
  width: 220px;
  height: 220px;
  margin: 0 10px 10px 0;
}

.image:nth-child(5n) {
  margin-right: 0;
}

.animate {
  color: #222;
  background: #eee;
  border: 1px solid #777;
  text-align: center;
  position: relative;
  height: 200px;
  width: 200px;
  display: block;
  padding: 10px;

  box-shadow: 0 0 1px #999;
  -webkit-transition: top .1s ease-in; 
}

.animate:hover {
  background: #f8f8f8;
  border: 1px solid #aaa;
  box-shadow: 0 0 1px #333;
  cursor: pointer;
  top: -2px;
}

.animate:after {
  content: '';
  display: block;
  background: url(ajax-loader.gif) no-repeat 0 0;
  height: 32px;
  width: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -16px 0 0 -16px;
  z-index: -1;
}

img {
  height: auto;
  width: 200px;
}